<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackingaming.notesquirrel">
    <!-- Supporting different screen resolutions -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" /> <!-- Features (optional): camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rsz_1zturtle_48x48"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".television.TelevisionActivity"></activity>
        <activity android:name=".sandbox.tinkermotionevent.TinkerMotionEventActivity" />
        <activity android:name=".sandbox.learncommunication.CommunicationActivity" /> <!-- Below is the default path for the android:icon attribute of the above application tag -->
        <!-- android:icon="@mipmap/ic_launcher" -->
        <!-- I changed it to an image of a turtle. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jackingaming.notesquirrel.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".sandbox.learnfragment.FragmentParentDvdActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".sandbox.learnlayout.SpriteSheetViewerActivity" />
        <activity
            android:name=".sandbox.tileset.TilesetUtilActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".gameboycolor.JackInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".sandbox.learnlistadapter.ListViewerActivity" />
        <activity android:name=".GalleryResultActivity" />
        <activity android:name=".CameraResultActivity" />
        <activity
            android:name=".passpoints.ImageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>