<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackingaming.notesquirrel">

    <!-- Supporting different screen resolutions -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <!-- Features (optional): camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rsz_1zturtle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jackingaming.notesquirrel.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".gameboycolor.JackInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".gameboycolor.gamecartridges.poohfarmer.items.BackpackActivity" />
        <activity android:name=".gameboycolor.TextboxStateActivity" />
        <activity android:name=".computer.ComputerActivity" />
        <activity android:name=".television.TelevisionActivity" />
        <activity android:name=".sandbox.spritesheetverifier2.SpriteSheetVerifier2Activity" />
        <activity android:name=".sandbox.spritesheetverifier1.SpriteSheetVerifier1Activity" />
        <activity android:name=".sandbox.dvdlibrary.official.view.recycler.RecyclerViewActivity" />
        <activity android:name=".sandbox.dvdlibrary.roughdraftwithimages.ListFragmentDvdParentActivity" />
        <activity android:name=".sandbox.dvdlibrary.official.view.grid.GridViewDvdActivity" />
        <activity android:name=".sandbox.downloadhtml.DownloadHtmlFragmentParentActivity" />
        <activity android:name=".sandbox.listviewemail.ListViewEmailActivity" />
        <activity android:name=".GalleryResultActivity" />
        <activity android:name=".CameraResultActivity" />
        <activity
            android:name=".passpoints.ImageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>