<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackingaming.notesquirrel">
    <!-- Supporting different screen resolutions -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" /> <!-- Features (optional): camera -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rsz_1zturtle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".sandbox.autopilotoff.remotecontrol.RemoteControlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".sandbox.worldofbox.WorldOfBoxActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".sandbox.autopilotoff.criminalintent.CrimeCameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen" />
        <activity android:name=".sandbox.autopilotoff.hellomoon.HelloMoonActivity" />
        <activity
            android:name=".sandbox.autopilotoff.AutoPilotOffActivity"
            android:launchMode="singleTop" />
        <activity android:name=".sandbox.autopilotoff.criminalintent.CrimePagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".sandbox.autopilotoff.AutoPilotOffActivity" />
        </activity>
        <activity android:name=".sandbox.autopilotoff.geoquiz.CheatActivity" />
        <activity android:name=".sandbox.spritesheetverifier2.tinker.DragAndDropActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jackingaming.notesquirrel.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".gameboycolor.JackInActivity"
            android:theme="@style/FullScreen" />
        <activity android:name=".sandbox.countzero.CountZeroActivity" />
        <activity
            android:name=".sandbox.mealmaker3000cashier.MealMaker3000CashierActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen" />
        <activity android:name=".gameboycolor.gamecartridges.base.items.BackpackActivity" />
        <activity android:name=".gameboycolor.gamecartridges.derived.pocketcritters.computer.ComputerActivity" />
        <activity
            android:name=".gameboycolor.gamecartridges.derived.pocketcritters.computer.QuadrantActivity"
            android:theme="@style/FullScreen" />
        <activity android:name=".gameboycolor.gamecartridges.derived.pocketcritters.television.TelevisionActivity" />
        <activity android:name=".sandbox.spritesheetverifier2.SpriteSheetVerifier2Activity" />
        <activity android:name=".sandbox.spritesheetverifier1.SpriteSheetVerifier1Activity" />
        <activity android:name=".sandbox.passingthrough.PassingThroughActivity" />
        <activity android:name=".sandbox.dvdlibrary.official.view.recycler.DvdLibraryActivity" />
        <activity android:name=".sandbox.dvdlibrary.roughdraftwithimages.ListFragmentDvdParentActivity" />
        <activity android:name=".sandbox.dvdlibrary.official.view.grid.GridViewDvdActivity" />
        <activity android:name=".sandbox.downloadhtml.DownloadHtmlFragmentParentActivity" />
        <activity android:name=".sandbox.listviewemail.ListViewEmailActivity" />
        <activity android:name=".GalleryResultActivity" />
        <activity android:name=".CameraResultActivity" />
        <activity
            android:name=".passpoints.ImageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>